.md {
  > p:first-child {
    color: var(--txt-light);
    font-size: 1.7rem;
    letter-spacing: 0.001em;
    line-height: 1.6em;
    margin-top: 0;
    margin-bottom: var(--padding-md);
    padding: 0;
  }

  a {
    color: var(--link-txt);
    padding: 0 0.2em;
    text-decoration: underline;
    transition: all 0.2s ease;
    text-decoration: none;
    background-color: var(--link-bg);

    &:hover {
      border-bottom: 1px solid var(--link-txt);
    }
  }

  h2,
  h3,
  h4,
  h5 {
    color: var(--txt-dark);
    font-weight: 500;
    margin: 0;
    padding-bottom: var(--padding-xs);
    border-bottom: 1px solid var(--border-light);
    margin-top: var(--padding-md);
    line-height: 1.1em;
    text-wrap: balance;
  }

  h2 {
    font-size: 1.8rem;
    margin-top: var(--padding-md);
    margin-bottom: var(--padding-xs);
    padding-bottom: var(--padding-xs);
  }

  li {
    margin-bottom: var(--padding-xs);
  }

  img {
    display: block;
    max-width: 100%;
  }

  code:not(pre *) {
    background-color: var(--highlight-bg);
    color: var(--highlight-txt);
    font-size: 1rem;
    border: 1px solid var(--highlight-bg-dark);
    padding: 0.2em 0.3em;
    border-radius: var(--border-radius);
  }

  hr {
    margin-top: var(--padding-lg);
    border-top: 1px solid var(--border);
    border-bottom: none;
  }

  blockquote {
    border: 1px solid var(--highlight-bg-dark);
    color: var(--highlight-txt);
    margin: var(--padding-md) 0;
    border-radius: var(--border-radius);
    padding: var(--padding-sm);
    font-size: 1.1em;
    background-color: var(--highlight-bg);

    > p {
      text-wrap: balance;
      line-height: 1.7em;
      margin: 0;
      padding: 0;
    }
  }

  p {
    margin-top: var(--padding-sm);
  }
}
