nav {
  /* padding-left: var(--padding-sm); */
  padding: var(--padding-lg) 0;
  max-width: 400px;

  .toggle {
    display: none;
  }

  ul {
    font-family: var(--font-header);
    list-style: none;
    padding: 0;
    margin: 0;

    &:first-child {
      border-bottom: 1px solid var(--border);
    }

    li {
      a {
        transition: background-color 0.8s ease-out;
        font-size: 1.3rem;
        font-weight: 350;
        text-wrap: balance;
        display: block;
        color: var(--nav-txt);
        text-decoration: none;
        padding: var(--padding-xs) var(--padding-md);
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        margin-bottom: 1px;

        &.active,
        &:hover {
          background-color: rgb(54, 56, 56, 0.1);
        }
      }
    }
  }
}
