@media (max-width: 960px) {
  :root {
    --padding-xs: 5px;
    --padding-sm: 10px;
    --padding-md: 20px;
    --padding-lg: 30px;
    --font-size: 17px;
  }

  body {
    flex-direction: column-reverse;

    main {
      width: 100%;

      .md {
        > p:first-child {
          font-size: 1.4rem;
        }

        pre {
          padding: var(--padding-xs);
        }
      }

      header {
        h1 {
          font-size: 2.8rem;

          small {
            justify-content: flex-start;

            .likes {
              margin-left: var(--padding-md);
            }
          }
        }
      }

      article,
      header h1,
      footer {
        padding: var(--padding-md);
      }
    }

    aside {
      position: relative;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;

      .toggle {
        all: unset;
        display: inline;
        position: absolute;
        top: var(--padding-md);
        right: var(--padding-md);
        background-color: rgba(255, 255, 255, 0.9);
        padding: var(--padding-xs) var(--padding-sm);
        cursor: pointer;
        border: 2px solid var(--border);
        font-size: 1.5rem;
        border-radius: var(--border-radius);
        color: var(--txt-dark);
      }

      nav {
        max-width: 100vw;
        background-color: var(--bg-dark);

        ul li a {
          border-radius: var(--border-radius);
        }

        &.open {
          overflow-y: auto;
          min-height: 100vh;
        }

        &.closed {
          background: transparent;
          ul {
            display: none;
          }
        }
      }
    }
  }
}
