@import url("https://cdn.jsdelivr.net/npm/highlightjs-themes@1.0.0/github.css");

pre {
  /* background-color: #303845 !important; */
  border-radius: var(--border-radius);
}

code[class*="language-"],
pre[class*="language-"] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  background: transparent;
  font-family: Monaco, Mono, monospace;
  font-size: 0.9em;
  line-height: 1.5em;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
