pre {
  code.hljs {
    display: block;
    white-space: pre;
    background: transparent;
    overflow-x: auto;
    scrollbar-color: #555 transparent;
  }
}

pre {
  font-size: 0.9rem;
  font-family: Monaco, Mono, monospace;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  line-height: 1.7em;
  background-color: #282c33;
  position: relative;
  padding: var(--padding-md);
}

code.hljs:before {
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.2em 0.4em;
  border-radius: var(--border-radius);
  font-weight: bold;
}

code.language-javascript:before {
  content: "JS";
}

code.language-html:before {
  content: "HTML";
}

code.language-css:before {
  content: "CSS";
}

code.language-bash:before {
  content: "BASH";
}
